<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score Tracker!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <link rel="stylesheet" href="static/css/main.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="favicon.ico" rel="icon" type="image/x-icon"/>
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-firestore.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyA9RdBQQAwztVeRkhg7can2W1CzUSj5qZM",
            authDomain: "brookings-sci-oly.firebaseapp.com",
            databaseURL: "https://brookings-sci-oly.firebaseio.com",
            projectId: "brookings-sci-oly",
            storageBucket: "brookings-sci-oly.appspot.com",
            messagingSenderId: "1072038859317"
        };
        firebase.initializeApp(config);
    </script>
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper nav-">
            <a href="/" class="right brand-logo">Only <span id="countdown">some time</span> left!</a>
            <ul class="left">
                <li>
                    <a href="/">
                        <span class="show-on-large">Home</span>
                        <i class="material-icons right">home</i>
                    </a>
                </li>
                <li class="active">
                    <a href="scores.html">
                        <span class="show-on-large">ScoreTracker</span>
                        <i class="material-icons right">score</i>
                    </a>
                </li>
                <li>
                    <a href="events.html">
                        <span class="show-on-large">Events</span>
                        <i class="material-icons right">event_note</i>
                    </a>
                </li>
                <li>
                    <a href="rules.html">
                        <span class="show-on-large">Rules Manual</span>
                        <i class="material-icons right">gavel</i></a>
                </li>
                <li>
                    <a href="timings.html">
                        <span class="show-on-large">Timings</span>
                        <i class="material-icons right">av_timer</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div id="app" class="container">
    <h2 class="center">Score Tracker</h2>
    <h4 class="topright" v-if="yscore < bscore">Yankton Win</h4>
    <h4 class="topright" v-if="yscore > bscore">Brookings Win</h4>
    <h4 class="topright" v-if="yscore === bscore">Brookings-Yankton tie</h4>
    <h4 class="bottomright">{{Math.max(yscore, bscore)}} - {{Math.min(yscore, bscore)}}</h4>
    <h6 class="center">Put our ranking (1-4, 5 if not participating and 6 if disqualified). Yellow means we lost, red
        means we didn't participate, and green means we won.</h6>
    <div v-bind:class="[{flex: true},{win: (event.brookingsScore < event.yanktonScore)}, { lose: (event.brookingsScore > event.yanktonScore)}, {nottry: (event.brookingsScore == 5)}]"
         v-for="event, key in events">
        <label>
            <input disabled readonly type="text" v-bind:value="event.yanktonScore" style="display: none;">
        </label>
        <label>
            <input type="text"
                   v-bind:id="key"
                   v-bind:placeholder="event.brookingsScore"
                   v-model="events[key].brookingsScore">
        </label>
        {{event.event}} - {{event.person}}
    </div>

</div>
<div style="height: 10vh"></div>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Brookings Science Olympiad</h5>
                <p class="grey-text text-lighten-4">Created for use by the 2019 Brookings High School Science Olympiad team. Go Cats!</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="http://brookings.k12.sd.us/bhs">Brookings High
                        School</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://sites.usd.edu/sdscienceolympiad/">SD Science
                        Olympiad Website</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://soinc.org/">Science Olympiad Website</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://scioly.org">Science Olympiad Wiki</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2019 Samyok Nepal
            <a class="btn-flat grey-text text-lighten-4 right scrollTop">Back to top</a>
        </div>
    </div>
</footer>
<script src="static/js/events.js"></script>
<script src="static/js/main.js"></script>
</body>
</html>
